<body>
  <h3>ANALITICAS</h3>
  <br />
  <form [formGroup]="analiticaForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-3">
      <label>FECHA MUESTRA</label>
      <input type="text"
      class="form-control"
      formControlName="date"
        placeholder="Introduce la fecha de la muestra AAAA-MM-DD" />
    </div>
    <div class="form-group col-md-3" *ngIf="type == 1">

      <div class="form-group col-md-3">
        <label>DENSIDAD</label>
        <input type="number" formControlName="den" class="form-control" placeholder="densidad" />
      </div>
      <div class="form-group col-md-3">
        <label>PH</label>
          <input type="number" formControlName="p_h" class="form-control" placeholder="ph" />
      </div>
      <app-orina></app-orina>

    </div>

    <div *ngIf="type == 2">

      <div class="form-group col-md-3">
        <label>COLESTEROL</label>
        <input type="number" formControlName="col" class="form-control" placeholder="colesterol" />
      </div>
      <div class="form-group col-md-3">
        <label>UREA</label>
        <input type="name" formControlName="ure" class="form-control" placeholder="urea" />
      </div>
    </div>
    <app-sangre></app-sangre>

    <section #botones>
      <button type="reset" class="btn">Borrar</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary">Aceptar</button>
    </section>
  </form>
  <!-- asan:{{ analiticaForm && analiticaForm.value.type == 2 }}
  aori:{{analiticaForm && analiticaForm.value.type == 1
  }} -->
</body>
