.button {
  margin: 2em;
}

body{
  text-align: center;

  margin:2em;
  margin-bottom: 7em;
}

div{
  margin-left: auto;
  margin-right: auto;
}

#analiticaform {
  margin-top: 10em;
}

form
{
  margin-top:10em;
}
label
 {
  font-weight: bold;
  font-style: oblique;
 }
