
<footer class="footer mt-auto py-3" >


  <div class="row justify-content-center">


    <a class="mx-5 btn btn-link" href="https://github.com/" aria-hidden="true" target="_blank">
      <fa-icon class=" fa-2x" [icon]="faGITHUB"></fa-icon>
    </a>

    <a class="mx-5 btn btn-link" href="https://web.whatsapp.com/" aria-hidden="true" target="_blank">
      <fa-icon class=" fa-2x" [icon]="faWASHUP"></fa-icon>
    </a>

    <a class="mx-5 btn btn-link" href="https://web.telegram.org/z/" aria-hidden="true" target="_blank">
      <fa-icon class=" fa-2x" [icon]="faTELEGRAM"></fa-icon>
    </a>

    <a class="mx-5 btn btn-link" href="https://about.gitlab.com/" aria-hidden="true" target="_blank">
      <fa-icon class=" fa-2x" [icon]="faGITLAB"></fa-icon>
    </a>
  </div>


<div class="row justify-content-center my-2">
  <a class="legal" href="http://www.Google.com" target="_blank">Google</a>
  <span> | </span>
  <a class="legal" href="http://www.youtube.com" target="_blank">Youtube</a>
  <span> | </span>
  <a class="legal" href="http://www.twitter.com" target="_blank">Twitter</a>
</div>


</footer>



