
  <div id="encabezado" class="container-fluid">
    <header class="blog-header col-12 py-1">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-2 pt-1" id="logo" >
          <picture>
            <img src="assets/IMAGES/LOGOFAMILAB.png"  width="400px;" title="Logo FAMILAB"  class="img-fluid" >
          </picture>
        </div>
        <!--Título -->
        <div id="titulo" class="col-10 text-left">
          <h1><b>FAMILAB <a>laboratorios</a></b></h1>
        </div>
      </div>
    </header>
  <!--Introduzco el menú de navegación en una barra lateral -->
    <div id="menu" class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" routerLink=""> INICIO </a>
        <a class="p-2 text-muted" routerLink="usuario"> USUARIO </a>
        <a class="p-2 text-muted" routerLink="analitica"> ANALITICAS </a>
      </nav>
    </div>
  </div>
