<main>
  <!--Sección escrito encima del formulario -->
  <section id="PreFormulario">
    <br />
    <h3>ALTA NUEVO USUARIO</h3>
    <br />
    <p>Por favor, rellene los campos:</p>
    <br />
  </section>
  <!--Sección del formulario -->
  <section>
    <form *ngIf="usuario" id="formulario" class="col-md-6">
      <!--Nombre -->
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Nombre</label>
          <input
            type="name"
            [(ngModel)]="usuario.nombre"
            class="form-control"
            id="nombre"
            placeholder="Nombre"
          />
        </div>
        <!--DNI -->
        <div class="form-group col-md-8">
          <label>DNI</label>
          <input
            type="surname"
            [(ngModel)]="usuario.dni"
            class="form-control"
            id="DNI"
            placeholder="00000000-P"
          />
        </div>
      </div>
      <!--Dirección -->
      <div class="form-group">
        <label for="inputFechaNacimiento">Fecha de nacimiento</label>
        <input
          type="text"
          [(ngModel)]="usuario.fechaNacimiento"
          class="form-control"
          id="inputAddress"
          placeholder="dd/mm/aaaa"
        />
      </div>
      <!--Botones -->
      <button type="reset" class="btn btn-primary">Borrar</button>
      <button type="submit" class="btn btn-primary">Aceptar</button>
    </form>
  </section>
</main>
